<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36466225678-qh8hnpsdbtnq3m91m4gqqhlf174vfbk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36466225678-qh8hnpsdbtnq3m91m4gqqhlf174vfbk6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>36466225678-i80f79pjnbtam7q8bkjn0el3dvulv0g7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrCkSnTFw7d4wiFLbM7DjfD5Cge1HMxUA</string>
	<key>GCM_SENDER_ID</key>
	<string>36466225678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vithack</string>
	<key>PROJECT_ID</key>
	<string>project-vithack</string>
	<key>STORAGE_BUCKET</key>
	<string>project-vithack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36466225678:ios:a8cd5b76571f1d9198825f</string>
	<key>DATABASE_URL</key>
	<string>https://project-vithack.firebaseio.com</string>
</dict>
</plist>